.image{
    width: 1200px;
    height: 330px;
  }
  .links ul{
    display: flex;
    justify-content: center;

  }
  .links ul li {
    list-style: none;
    padding: 10px;
  }
  .links ul li a{
    text-decoration: none;
  }
  .heading
      {
        color: green;
        font-size: 20px;
      }
      .heading1
      {
        color:grey;
        font-size: 20px;
      }
      .images{
        display: flex;
        height: 200px;
        width: 180px;
        /* border: 1px solid black; */
    }
    #img1{
        margin-left: 110px;
        border: 1px solid black;
        width: 250px;
    }
    #img2{
        margin-left: 8px;
        border: 1px solid black;
        width: 230px;
    }
    #img3{
        margin-left: 8px;
        border: 1px solid black;
    }
    #img4{
        margin-left: 8px;
        border: 1px solid black;
        width: 250px
    }

    
    .d-block{
      height: 475px;
    }
    .footer{
      background-color: rgb(114, 108, 108);
      color: aliceblue;
      text-align: center;
  }
  
  .footer a{
      color: black;
  }